<%- include('partials/header'); -%>

<div class="container">
    <div class="col-lg-12">
        <p> <%= day %> </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="jumbotron" >
            <h1 class="display-3">Next</h1>
            <h1 class="display-3">Where are you going?</h1>

            <p class="lead">Tell me something about yourself</p>
            <hr class="my-4">
            <form method="put" action='/restaurant'>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">beach</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">museum</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">park</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">shopping</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">no ides</button>

                <button type="submit" onclick='/restaurant'  method='PUT' class="btn btn-primary offset-10 text-capitalize">Next Step</button>
            </form>

        </div>
    </div>
</div>
<%- include('partials/footer'); -%>