<%- include('partials/header'); -%>
<% var character_list = [] %>
<div class="container">
    <div class="col-lg-12">
        <p> <%= day %> </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="jumbotron" >
            <h1 class="display-3">So, first</h1>
            <h1 class="display-3">Who are you?</h1>

            <p class="lead">Tell me something about yourself</p>
            <hr class="my-4">
            <form method="put" action='/attraction'>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">QUIET</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">ACTIVE</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">analytical</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">frank</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">lovely</button>
                <button type="button" class="btn btn-outline-primary mx-2 text-capitalize">moody</button>

                <button type="submit" onclick='/attraction'  method='PUT' class="btn btn-primary offset-10 text-capitalize">Next Step</button>
            </form>

        </div>
    </div>
</div>
<%- include('partials/footer'); -%>