<%- include('partials/header'); -%>
<% var character_list = [] %>
<div class="container">
    <div class="col-lg-12">
        <p> <%= day %> </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="jumbotron" >
            <h1 class="display-3">So, first</h1>
            <h1 class="display-3">Who are you?</h1>

            <p class="lead">Tell me something about yourself</p>
            <hr class="my-4">
            <h1>Log</h1>
            <form method="put" action='/attraction'>
                <input type="button" class="btn btn-primary">QUIET</input>
                <input type="button" class="btn btn-secondary">ACTIVE</input>
                <input type="button" class="btn btn-success">Success</input>
                <input type="button" class="btn btn-info">Info</input>
                <input type="button" class="btn btn-warning">Warning</input>
                <input type="button" class="btn btn-danger">Danger</input>

                <button type="submit" onclick='/attraction'  method='PUT' class="btn btn-primary offset-11">Next Step</button>
            </form>

        </div>
    </div>
</div>
<%- include('partials/footer'); -%>