<%- include('partials/header'); -%>

<div class="container">
    <div class="col-lg-12">
        <p> <%= day %> </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <form action='./displayRoute' method="put">
         <div class="jumbotron" >
             <div class="row">
                 <h1 class="display-3">Start the Trip at</h1>

             </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="row">

                 <h1 class="display-3 offset-5">is My Destination </h1>
             </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" href="/displayRoute" class="btn btn-primary offset-10 text-capitalize">Generate Route</button>
         </div>
    </form>
</div>

<%- include('partials/footer'); -%>