<%- include('partials/header'); -%>

<div class="container">
    <div class="col-lg-12">
        <p>
            <%= day %> : Today's to-do list
        </p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <ul>
            <% for (var i=0; i< todoList.length; i++) { %>
           <li> <%= todoList[i] %> </li>
           <% } %>
         </ul>
    </div>
    <div class="col-lg-12">
        <div class="jumbotron" >
            <h1 class="display-3">Hello, BackPacker!</h1>
            <p class="lead">Welcome, looking forward to customizing your journey?</p>
            <p>Please log in to start your first journey!</p>


            <hr class="my-4">
            <h1>Log</h1>
            
            <div class="row">
                <div class="col-lg-6">

                    <form>
                        <fieldset>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                              </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-4 offset-lg-1" >
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">&nbsp;&nbsp; Log In&nbsp;&nbsp;</a>
                    </p>

                        <fieldset>
                            <div class="form-group row">
                                <div class="col-sm-10" style="padding: 1.6em 0 0 0;">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;No account yet?</p> 
                                </div>
                              </div>
                        </fieldset>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">&nbsp;&nbsp; Register&nbsp;&nbsp;</a>
                    </p>
                    
                </div>
            </div>

        </div>



    </div>
</div>



<%- include('partials/footer'); -%>